.image-container::before,
.image-container::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;            /* only 50% width */
  height: 8px;           /* small height */
  border-radius: 50%;    /* smooth fading edges */
  pointer-events: none;
}

.image-container::before {
  top: 0;
  box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.4);
}

.image-container::after {
  bottom: 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

button:hover{
  border: none;
}


.p-carousel-container{
  height: 40rem;
}

.p-carousel-con{
  height: clamp(320px, 60vh, 400px);
}

.carousel-card-info {
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    #000000,
    #0d0d0d
  );
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: clamp(180px, 70vw, 320px);
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 0 0 25px 25px;
  padding: 6px;
  z-index: 25;
  
}
.carousel-card-info {
  opacity: 1;

}

.animate {
  animation: slideText 0.66s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes slideText {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX();
  }
}


.carousel-card-info:hover{
 box-shadow:
  0 0 20px rgba(255,255,255,0.08),
  0 0 40px rgba(255,255,255,0.04);
}

.carousel-card-category {
  font-size: 13px;
  color: rgba(255,255,255,0.5);
  margin: 0 0 0.3rem 0;
}

.carousel-card-title {
  font-size: 17px;
  color: white;
  margin: 0 0 0.8rem 0;
  font-weight: 500;
  line-height: 1.4;
}

.carousel-dots {
  display: flex;
  gap: 6px;
  justify-content: center;
}

.carousel-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgba(255,255,255,0.3);
  transition: all 0.3s;
  display: inline-block;
}

.carousel-dot.active {
  width: 20px;
  border-radius: 4px;
  background: white;
}
@media (max-width: 770px){
  .p-carousel-con{
  height: 20rem !important;
}
}
